*{
    padding: 0;
    margin: 0;
}
.flex-container{
    display: flex;
    width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.box-item{
    height: 150px;
    width: 200px;
    margin: 20px;
    background-color: skyblue;
    border: 5px solid gray;
}
.food-item-container{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.food-item{
    height: 200px;
    margin: 20px;
    border: 5px solid skyblue;
}
.food-item img{
    height: 150px;
    width: 180px;
}
.food-item img:hover{
    transform: scale(1.5) rotate(90deg) translate(100px) skew(30deg);
    transition: 2s;
}
.food-item h4{}
.food-item h6{}